.button {
    cursor: pointer;
    list-style-type: none;
    padding: 13px 0 15px 0;
    text-align: center;
    border: none;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    color: #fff;
}