.about {
    padding-top: 160px;

    &__heading {
        text-align: center;
    }

    &__text {
        text-align: center;
        margin-top: 32px;
        font-size: 34px;
        line-height: 128%;
    }

    &__decoration {
        position: relative;
        top: -40px;
        left: -400px;
    }
}