.product {
    display: flex;
    gap: 20px;
    min-height: 670px;
    padding-bottom: 160px;

    &__img {
        width: 670px;
        height: 670px;
        object-fit: cover;
        border-bottom: 5px solid #3970F6;
        border-left: 1px solid #3970F6;
        border-right: 1px solid #3970F6;
        border-top: 5px solid #3970F6;
    }

    &__heading {
        font-size: 64px;
        margin-bottom: 64px;

        &-descr {
            font-size: 34px;
            margin-bottom: 16px;
        }
    }

    &__description {
        max-width: 440px;
    }

    &__to-cart {
        margin-top: 56px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__price {
        font-size: 64px;
    }

    &__btn {
        cursor: pointer;
        width: 300px;
        height: 60px;
        background-image: url('../../resources/img/button.svg');
        border: none;
        background-color: transparent;
        font-size: 18px;
        color: #FBFBFB;

        &:disabled {
            cursor: default;
            opacity: 0.6;
        }
    }
}