@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {

    font-family: 'Gilroy';
    src: url('../resources/fonts/Gilroy-ExtraBold.eot');
    src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
        url('../resources/fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../resources/fonts/Gilroy-ExtraBold.woff') format('woff'),
        url('../resources/fonts/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../resources/fonts/bebas.TTF') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Gilroy';
    src: url('../resources/fonts/Gilroy-Heavy.eot');
    src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
        url('../resources/fonts/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../resources/fonts/Gilroy-Heavy.woff') format('woff'),
        url('../resources/fonts/Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../resources/fonts/Gilroy-SemiBold.eot');
    src: local('Gilroy SemiBold'), local('Gilroy-SemiBold'),
        url('../resources/fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../resources/fonts/Gilroy-SemiBold.woff') format('woff'),
        url('../resources/fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../resources/fonts/Gilroy-Light.eot');
    src: local('Gilroy Light'), local('Gilroy-Light'),
        url('../resources/fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('../resources/fonts/Gilroy-Light.woff') format('woff'),
        url('../resources/fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../resources/fonts/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('../resources/fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../resources/fonts/Gilroy-Regular.woff') format('woff'),
        url('../resources/fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../resources/fonts/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('../resources/fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../resources/fonts/Gilroy-Medium.woff') format('woff'),
        url('../resources/fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../resources/fonts/Gilroy-UltraLight.eot');
    src: local('Gilroy UltraLight'), local('Gilroy-UltraLight'),
        url('../resources/fonts/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('../resources/fonts/Gilroy-UltraLight.woff') format('woff'),
        url('../resources/fonts/Gilroy-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../resources/fonts/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('../resources/fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../resources/fonts/Gilroy-Bold.woff') format('woff'),
        url('../resources/fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../resources/fonts/Gilroy-Thin.eot');
    src: local('Gilroy Thin'), local('Gilroy-Thin'),
        url('../resources/fonts/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
        url('../resources/fonts/Gilroy-Thin.woff') format('woff'),
        url('../resources/fonts/Gilroy-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../resources/fonts/Gilroy-Black.eot');
    src: local('Gilroy Black'), local('Gilroy-Black'),
        url('../resources/fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
        url('../resources/fonts/Gilroy-Black.woff') format('woff'),
        url('../resources/fonts/Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}



.bebas {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}